@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


   <div class="footer-bot">
                <p class="footer-bot-title">Ghé thăm các website khác cùng tập đoàn MWG</p>
                <ul class="footer-bot-logo">
                    <li>
                        <a href="#"> <i class="iconlogo-avasport"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="iconlogo-avafashion"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="iconlogo-avaji"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="iconlogo-avacycle"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="iconlogo-topzone"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="iconlogo-bhx"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="iconlogo-tgdd"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="iconlogo-dmx"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="iconlogo-ntak"></i></a>
                    </li>
                </ul>
            </div>