@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="footer-mkt">
    <a href="#">
        <i class="iconlogo-bct"></i>
    </a>
    <a href="#">
        <img class="iconlogo-cert" src="~/img/handle_cert.png" />
    </a>
    <a href="#">
        <i class="iconlogo-dmca"></i>
    </a>
</div>
<p class="copyright">
    © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007.
    <br />
    Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@avakids.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt.
</p>