@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<section class="section-top">
    <a href="#" class="header-logo">
        <span class="icon-logo-newsversion "></span>
    </a>
    <form class="header-search">
        <input id="search-box" class="search-input" type="text" placeholder="Tìm sản phẩm, nhóm hàng, hãng..." name="key-search" />



        <button class="submit-search">
            <span class="icon-search"></span>
        </button>
    </form>
    <div class="box-right">
        <a href="#" class="box-right-cart">
            <span class="icon-cart"></span>
            <span class="box-cart-txt">Giỏ hàng</span>
        </a>

        <a href="#" class="box-right-hotline">
            Hotline (7h30 - 22h00)<br />
            <span>1900 866 874</span>

        </a>
        <span class="box-right-space"></span>
        <a href="#" class="box-right-txt">

            <span>CẨM NANG  <br /> MẸ VÀ BÉ</span>
        </a>

    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/search.js">

</script>