@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="filter-item__show">
    <div class="filter-show ">

        <div class="filter-list-price">
            <a>Từ 100,000 - 200,000đ</a>
            <a>Từ 200,000 - 300,000đ</a>
        </div>
        <div class="range-toggle">
            <span>
                # Hoặc chọn mức giá phù hợp với bạn
            </span>
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>
        <div class="container">
            <div class="row-input"></div>
            <div class="slider-range"></div>
        </div>

        <div class="filter-btn">
            <a class="btn-filter-close">Bỏ chọn</a>
            <a class="btn-filter-readmore">Xem 117 Kết quả</a>
        </div>
    </div>

</div>