@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="filter-item__show">
    <div class="filter-show">

        <div class="filter-result">
            <h3>Đã chọn: </h3>
            <div class="filter-result-list">
                <span class="c-btnbox">
                    Huggies
                    <i>&times;</i>
                </span>
            </div>
        </div>

        <div class="filter-title">
            <span>Hãng: </span>
            <span class="c-btnbox filter-title-close">
                Đóng
                <i><i>&times;</i></i>
            </span>
        </div>
        <div class="filter-list">
            <a href="" class="c-btnbox filter-manu">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/118624/Bobby-200x120.png" alt="">
            </a>

            <a href="" class="c-btnbox filter-manu">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/118863/Huggies-200x120-1.png" alt="">
            </a>

            <a href="" class="c-btnbox filter-manu">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/118625/Moony-200x120.png" alt="">
            </a>

            <a href="" class="c-btnbox filter-manu">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/118862/Merries-200x120.png" alt="">
            </a>

            <a href="" class="c-btnbox filter-manu">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/119050/Pamper-200x120.png" alt="">
            </a>

            <a href="" class="c-btnbox filter-manu">
                <img src="https://cdn.tgdd.vn/2022/03/Sports/Images/164922/ta-quan-moony-man-be-trai-size-xl-38-mieng-cho-be-12-17kg-7(200%C3%97120px)(1)-200x120.png"
                     alt="">
            </a>

            <a href="" class="c-btnbox filter-manu">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/121689/httpscdn.tgdd.vn202111SportsImages121689Babymommy-200x120-1.png-removebg-preview-200x120.png"
                     alt="">
            </a>

            <a href="" class="c-btnbox filter-manu">
                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/139454/ta-dan-Huggies-Dry-size-XL-38-mieng-cho-be-11-16kg-500(200x120px)-200x120.png"
                     alt="">
            </a>

            <a href="" class="c-btnbox filter-manu">
                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/0/Thietkekhongten(96)-200x120.png" alt="">
            </a>


        </div>

        <div class="filter-title">
            <span>Giá: </span>
        </div>
        <div class="filter-list filter-list_price ">
            <div class="filter-list-price">
                <a class="c-btnbox">Từ 100,000 - 200,000đ</a>
                <a class="c-btnbox">Từ 200,000 - 300,000đ</a>
            </div>
            <div class="range-toggle">
                <span>
                    # Hoặc chọn mức giá phù hợp với bạn
                </span>
                <span class="material-symbols-outlined">
                    arrow_drop_down
                </span>
            </div>

            <div class="flex relative justify-center items-center h-20 w-full mx-auto rounded">
                <div class="min-value numberVal">
                    <input type="number" class="" min="0" max="200" value="25" disabled>
                </div>
                &nbsp;
                <div class="range-slider">
                    <div class="progress"></div>
                    <span class="range-min-wrapper">
                        <input class="range-min" type="range" min="0" max="200" value="25">
                    </span>
                    <span class="range-max-wrapper">
                        <input class="range-max" type="range" min="0" max="200" value="100">
                    </span>
                </div>
                &nbsp;
                <div class="max-value numberVal">
                    <input type="number" class="border text-center" min="0" max="200" value="75" disabled>
                </div>
            </div>
            <div class="container">
                <div class="row-input"></div>
                <div class="slider-range"></div>
            </div>


        </div>
        <div class="filter-title">
            <span>Loại: </span>

        </div>
        <div class="filter-list ">
            <span class="c-btnbox">Miếng lót sơ sinh </span>
            <span class="c-btnbox">Tã dán</span>
            <span class="c-btnbox">Tã quần </span>
            <span class="c-btnbox">Tã vãi </span>
            <span class="c-btnbox">Tã người lớn </span>
        </div>

        <div class="filter-title">
            <span>Cân nặng: </span>

        </div>
        <div class="filter-list ">
            <span class="c-btnbox">Dưới 5kg </span>
            <span class="c-btnbox">Từ 5 - 10kg</span>
            <span class="c-btnbox">Từ 10 - 13kg</span>
            <span class="c-btnbox">Từ 13 - 16kg</span>
            <span class="c-btnbox">Trên 16kg</span>
        </div>

        <div class="filter-title">
            <span>Size: </span>

        </div>
        <div class="filter-list ">
            <span class="c-btnbox">NB </span>
            <span class="c-btnbox">S</span>
            <span class="c-btnbox">M</span>
            <span class="c-btnbox">L</span>
            <span class="c-btnbox">XL</span>
            <span class="c-btnbox">XXL</span>
            <span class="c-btnbox">XXXL</span>
        </div>

        <div class="filter-btn">
            <a class="btn-filter-close">Bỏ chọn</a>
            <a class="btn-filter-readmore">Xem 117 Kết quả</a>
        </div>
    </div>

</div>