@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="filter-show">
    <div class="filter-list ">
        <span class="c-btnbox">Dưới 5kg</span>
        <span class="c-btnbox">Từ 5 - 10kg</span>
        <span class="c-btnbox">Từ 10 - 13kg</span>
        <span class="c-btnbox">Từ 13 - 16kg</span>
        <span class="c-btnbox">Trên 16kg</span>
    </div>
    <div class="filter-btn">
        <a class="btn-filter-close">Bỏ chọn</a>
        <a class="btn-filter-readmore">Xem 117 Kết quả</a>
    </div>
</div>