@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="filter-show">
    <div class="filter-list ">
        <span class="c-btnbox" data-size="NB">NB</span>
        <span class="c-btnbox" data-size="S">S</span>
        <span class="c-btnbox" data-size="M">M</span>
        <span class="c-btnbox" data-size="L">L</span>
        <span class="c-btnbox" data-size="XL">XL</span>
        <span class="c-btnbox" data-size="XXL">XXL</span>
        <span class="c-btnbox" data-size="XXXL">XXXL</span>
    </div>
    <div class="filter-btn">
        <a class="btn-filter-close">Bỏ chọn</a>
        <a class="btn-filter-readmore">Xem 117 Kết quả</a>
    </div>
</div>