@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*@model _188252_BT2.Models.ListBimTaModel*@
<div class="filter-item__show">
    <div class="filter-show ">
        <div class="filter-list">
            @*  @foreach (var item in Model)
            {
            <a href="" class="c-btnbox filter-manu">
            <img src="@item.ProductListImg" alt="">
            </a>
            }*@

            <a  class="c-btnbox filter-manu" data-brand="Bobby">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/118624/Bobby-200x120.png"
                     alt="">
            </a>
            <a class="c-btnbox filter-manu" data-brand="Huggies">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/118863/Huggies-200x120-1.png" alt="">
            </a>

            <a class="c-btnbox filter-manu" data-brand="Moony">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/118625/Moony-200x120.png" alt="">
            </a>

            <a class="c-btnbox filter-manu" data-brand="Merries">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/118862/Merries-200x120.png" alt="">
            </a>

            <a class="c-btnbox filter-manu" data-brand="Pampers">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/119050/Pamper-200x120.png" alt="">
            </a>

        </div>
        <div class="filter-btn">
            <a class="btn-filter-close">Bỏ chọn</a>
            <a class="btn-filter-readmore">Xem 117 Kết quả</a>
        </div>
    </div>

</div>