@model _188252_BT2.Models.CollectionDataModel


<div class="product">
    <div class="product-slider">
        @for (int index = 0; index < @Model.productList.Count(); index++)
        {

            <div class="mySlides">
                <img src="@Model.product.ProductListImg[index]" alt="hinh">

            </div>
        }
    </div>

    <div class="product-navi">
        <div id="click_fullscreen" class="click-fullscreen" onclick="clickFullScreen()">
        </div>
        <div>
            <a class="prev" onclick="plusSlides(-1)">❮</a>

            <a class="next" onclick="plusSlides(1)">❯</a>
            <div class="counter">

                <span class="counter-current">
                </span>
                <span class="counter-current">
                </span>
            </div>
        </div>

    </div>

    <div class="row-slide">
        @for (int index = 0; index < @Model.productList.Count(); index++)
        {
            <div class="column">
                <button>
                    <div class="dotitem">
                        <img class="demo cursor" src="@Model.product.ProductListImg[index]" alt="hinh">
                    </div>
                </button>
            </div>
        }

    </div>
    <div id="bg-imgslider" class="bg-imgslider">
        <span class="close-popupslider">Đóng</span>
    </div>
    <script>
       
    </script>
</div>