@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<ul class="policy">
    <li class="doitra">
        <div class="icon1">
            <span class="material-symbols-outlined">
                restart_alt
            </span>
            <p>
                Không áp dụng đổi trả, bảo hành (Không bao gồm xe đồ chơi điều khiển)
                <a href="">Xem chi tiết</a>
            </p>
        </div>
    </li>
    <li class="doitra">
        <div class="icon1">
            <span class="material-symbols-outlined">
                local_shipping
            </span>
            <p>
                Miễn phí giao hàng đơn từ 500.000đ trong 10km đầu tiên</a>
            </p>
        </div>
    </li>
    <li class="doitra">
        <div class="icon1">
            <span class="material-symbols-outlined">
                logout
            </span>
            <p>
                Giao hàng thu tiền, thanh toán online nhiều phương thức
            </p>
        </div>
    </li>
    <li class="doitra">
        <div class="icon1">
            <span class="material-symbols-outlined">
                restart_alt
            </span>
            <p>
                Tổng đài:<a href=" ">
                    1900.866.874
                </a>
                (7h30 - 22h00)
            </p>
        </div>
    </li>
</ul>
