@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2 class="article__content__title">
    THÔNG TIN SẢN PHẨM
</h2>
<h3>Đặc điểm nổi bật</h3>

<ul class="article__content__list">
    <li>
        <a href="https://www.avakids.com/do-choi/do-choi-tram-canh-sat-tuan-tra-cuu-hoa-bien-lego-city-60308">
            @Model.product.Product_Name
        </a>
        bao gồm 297 chi tiết.
    </li>
    <li>
        <a href="https://www.avakids.com/do-choi/do-choi-tram-canh-sat-tuan-tra-cuu-hoa-bien-lego-city-60308"></a>
        Bé có thể sáng tạo và tưởng tượng câu chuyện của mình.
    </li>
    <li>
        <a href="https://www.avakids.com/do-choi/do-choi-tram-canh-sat-tuan-tra-cuu-hoa-bien-lego-city-60308">
            @Model.product.ProductDetail.product_type
        </a>
        giúp rèn luyện tính rỉ mỉ, sáng tạo của bé khi lắp ráp.
    </li>
    <li>
        <a href="https://www.avakids.com/do-choi/do-choi-tram-canh-sat-tuan-tra-cuu-hoa-bien-lego-city-60308">
            @Model.product.ProductDetail.product_type2
        </a>
        không có góc nhọn, thành phần độc hại nên an toàn cho bé.
    </li>

</ul>

<h3>Hướng dẫn sử dụng </h3>
<ul class="article__content__list">
    <li>
        <a href="https://www.avakids.com/do-choi/do-choi-tram-canh-sat-tuan-tra-cuu-hoa-bien-lego-city-60308"
           target="_blank"
           title="Xem thêm Đồ chơi trạm cảnh sát tuần tra và cứu hỏa biển Lego City 60308 (297 chi tiết)">Đồ chơi</a>
        không dùng pin.
    </li>
    <li>
        Lắp ráp các khớp nối với nhau theo hình trên bao bì.
    </li>
    <li>
        Có thể sáng tạo theo trí tưởng tượng của bé.
    </li>
</ul>