@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form class="comment-list">
    <h5>Hỏi đáp về Đồ chơi trạm cảnh sát tuần tra và cứu hỏa biển Lego City 60308</h5>
    <textarea class"comment-content" onfocus="this.value=''">Mời bạn bình luận về câu hỏi</textarea>
</form>