/*.owl-nav {
    font-size: 30px;
}

    .owl-nav button span {
        padding: 20px;
    }



.product .btn-product button {
    outline: none;
    border: none;
    margin: 4px;
    padding: 0px;
}

    .product .btn-product button img {
        max-width: 100%;
        max-height: 100%;
    }

    .product .btn-product button.active {
        border: 1px solid #f39ac0;
        box-shadow: 0 0 4px #f39ac0;
        border-radius: 12px;
        overflow: hidden;
    }
.thubmail-slide .btn-product.active {
    border: 1px solid #f39ac0;
    box-shadow: 0 0 4px #f39ac0;
}*/







img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.product {
    position: relative;
}


.column button {
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    background-repeat: no-repeat !important;
    overflow: hidden;
    padding: 0px;
}
/* Hide the images by default */
.mySlides {
    /* display: none; */
}

@keyframes slide {
    0% {
        left: 0;
    }

    10% {
        left: 0;
    }

    20% {
        left: -100%;
    }

    30% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    50% {
        left: -200%;
    }

    55% {
        left: -300%;
    }

    65% {
        left: -300%;
    }

    66% {
        left: -200%;
    }

    74% {
        left: -200%;
    }

    75% {
        left: -100%;
    }

    85% {
        left: -100%;
    }

    90% {
        left: 0%;
    }

    100% {
        left: 0;
    }
}
.product .product-slider {
    animation: 10s slide infinite;
} 


.mySlides{
        
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
.product-navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    /* position: absolute; */
    top: 40%;
    width: auto;
    padding: 10px 24px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0,0,0,.3) ;
    color: white;
    text-decoration:none;
    animation: all ease-in .3s;
}

    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row-slide:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.product .column {
    
}

.product .row-slide {
    float: left;
    width: 100;
    display: flex;
    gap: 1rem;
}

/* Add a transparency effect for thumnbail images */
.demo {
    /*opacity: 0.6;*/
}

    .active,
    .demo:hover {
        border: 1px solid #f39ac0;
        box-shadow: 0 0 4px #f39ac0;
    }
.item img{

    object-fit: contain;
}

.product-navi .click-fullscreen {
    background-color: transparent !important;
    background-image: url(//cdn.tgdd.vn/mwgcart/bluekids/images/common/desktop/icon_common@2x.png) !important;
    background-repeat: no-repeat !important;
    background-size: 350px 350px !important;
    background-position: 0 -100px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 50px;
    z-index: 2;
}

.counter {
    background-color: rgba(0,0,0,.3);
    color: #fff;
    display: flex;
    font-size: 13px;
    font-weight: 400;
    justify-content: center;
    line-height: 33px;
    position: absolute;
    
    width: 44px;
    white-space: nowrap;
    z-index: 2;
    right: 36px;
    bottom: 6px;
}

.bg-imgslider {
    background-color: rgba(0,0,0,.8);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
}

.close-popupslider {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 10px;
    
}